.table {
  width: 800px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

  thead > tr {
    background-color: #d2d2d2;
  }

  tbody > tr {
    border-bottom: 1px solid #DDD;
    &:hover {
      background-color: #D6EEEE;
    }
  }

  th, td {
    padding: 8px;
    text-align: left;
  }
}
