.item {
  @apply w-full inline-flex items-center gap-x-2 py-2 px-4 rounded text-dark-blue;
  transition: background-color .2s ease-in-out;

  svg {
    @apply w-6 h-6 fill-current;
    transition: color .2s ease-in-out;
  }

  span {
    @apply font-medium;
    transition: color .2s ease-in-out;
  }

  &:hover {
    @apply bg-blue-800;
  }

  &:hover svg {
    @apply fill-white;
  }

  &:hover span {
    @apply text-white;
  }
}

.active {
  @apply bg-blue-800 text-white;

  svg {
    @apply fill-white;
  }

  span {
    @apply text-white;
  }
}
